/* Target Direct Children

<ul>
  <li>Direct list item 1</li>
  <li>Direct list item 2</li>
  <li>
    Direct list item 3
    <ol>
      <li>Nested list item 1</li>
      <li>Nested list item 2</li>
      <li>Nested list item 3</li>
    </ol>
  </li>
  <li>Direct list item 4</li>
</ul>

ul > li {
  border: 1px dashed lightgrey; 
}

 */


/* Target Adjacent Siblings 

<img src="..." alt="...">
<p>this is the adjacent paragraph...</p>

<img src="..." alt="...">
<p>this is another adjacent paragraph...</p>

img + p {
  margin-bottom: 20px;
}

<div>
  <h2>Take Action Now</h2>
  <button class="btn primary">Primary Action</button>
  <button class="btn secondary">Secondary Action</button>
</div>

This CSS selector targets a .btn class that immediately follows an element with a .btn class:
 .btn + .btn {
  margin-left: 20px; 
}

This applies a left margin to the immediate sibling only.
 
 */

 /* Target General Siblings 

 The tilde symbol (~) is called a general sibling combinator because it not only targets immediate siblings, but also every specified sibling that follows. 
 The selector below targets all <div> elements that follow a <header>:
 
 header ~ div { 
 background: aliceblue;
}

html:
<div>I do not have an aliceblue background, because I appear before the header.</div>
<header>Any div that follows me will have an aliceblue background.</header>
<div>I have an aliceblue background.</div>
<img src="..." alt="cool sibling">
<p>I am a paragraph, so no aliceblue background.</p>
<div>I also have an aliceblue background.</div>

 
 */